:root {
    --pink: #BF6B7B;
    --steel: #435759;
    --ivory: #F2F2F0;
    --brown: #736346;
    --cinnamon: #A68660;
    --transparent: RGBA(242,242,240,0.6);
    --text: #1F2420;
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --wbkt-box: 10px 24px 24px -20px rgba(115,99,70,0.51);
    --moz-box: 10px 24px 24px -20px rgba(115,99,70,0.51);
    --box-sh: 10px 24px 24px -20px rgba(115,99,70,0.51);
}

body{
    margin: 0 auto;
    color: var(--text);
    font-family: 'Lato', sans-serif;
    background-color: var(--steel);
}

header{
    display: flex;
    justify-content: center;
    background-color: var(--ivory);
}

h1{
    color: var(--brown);
    font-size: 3.8rem;
    border-top: double 5px var(--cinnamon);
    border-bottom: double 5px var(--cinnamon);
}

h2{
    color: var(--brown);
}

.category{
    color: var(--brown);
    border-bottom: double 5px var(--cinnamon);
}

.main{
    display: flex;
    flex-direction: column;
}

.card-container{
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    background-color: var(--ivory);
    padding: var(--padding-medium);
    margin: var(--padding-medium);
    border-radius: var(--padding-small);
}

.card{
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
    background-color: var(--ivory);
    border: 1px solid var(--cinnamon);
    margin: var(--padding-small);
    -webkit-box-shadow: var(--wbkt-box);
    -moz-box-shadow: var(--moz-box);
    box-shadow: var(--box-sh);
}

.hold{
    border: 8px solid var(--pink);
    background-color: var(--pink);
    color: black;
}

.hovered{
    background-color: var(--transparent);
}

.invisible{
    display: none;
}

.category-input{
    padding: 0.8rem;
    color: var(--steel);
    font-size: larger;
    font-weight: bold;
}


@media only screen and (min-device-width: 1224px){
    
    header{
        width: 100%;
    }

    h1{
        font-size: 4.5rem;
    }
    
    .main{
        flex-direction: row;
    }
    .card{
        width: 11rem;
        cursor: pointer;
    }

    .card-container{
        width: 300px;
    }
}